
@font-face {
    font-family: Neon;
    src: url(Motley\ Forces.ttf);
}

body {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    color: #ebca46;
    text-shadow: 0 0 4px #ebca46,
                 0 0 5px #ebca46,
                 0 0 12px #ebca46;
    font-size: 200px;
    height: 200px;
    margin-top: 250px;
    margin-left: 10px;
}

button {
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin-left: 813px;
    background-color: #ebca46;
    font-weight: 600;
    border: 0px transparent;
}

button:hover {
    transition: 0.1s;
    box-shadow: 0 0 30px #FFE16E,
                0 0 90px #FFE16E,
                0 0 12px #FFE16E;;
    font-weight: 600;
    cursor: pointer;
    background-color: #FFE16E;
}

ul {
    display: flex;
    justify-content: center;
    color: #ebca46;
    list-style: none;
    font-size: 50px;
}

ul:hover {
    cursor: pointer;
}

.Linkedin {
    margin-right: 50px;
}

.Github {
    margin-right: 50px;
}

.Twitter {
    margin-right: 20px;
}

a {
    color: #ebca46;
}
